/* Document information 
    Document: thé thèmes 
    vertion: 1.0.0
*/

/* COLORS 
    default body text #eee
    -h1
    -h2
    -h3

    -buttom 
    -button:hover 

    -border
 */

/* FONT
 Default lato  */

/* CSS DIRECTORY
    1.GLOBAL
    2.HEADER
 */

/* GLOBAL
 
 ====================================*/

html {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "lato";
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  word-spacing: 8px;
  padding: 0;
}
h1 {
  color: #eee;
}
h2 {
  color: #333333;
  font-size: 250%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
h2::after {
  content: " ";
  display: block;
  height: 2px;
  width: 100px;
  background-color: #5ee077;
  margin: 0 auto;
  margin-top: 10px;
}
h3 {
  font-size: 160%;
}

p {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}
section {
  padding: 30px 0 60px 0;
}
/* HEADER

====================================*/

header {
  background-image: linear-gradient(
      rgba(0, 245, 96, 0.4),
      rgba(7, 117, 230, 0.6)
    ),
    url(../images/header.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.home-title {
  position: absolute;
  top: 30%;
  width: 50%;
}
.home-title h1 {
  font-family: "lato";
}
.home-title p {
  color: #fff;
}

/* =======================button==================== */

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 1s, color 1s, border 1s;
}
.btn-full {
  background-color: azure;
  color: #97aa9b;
  margin-right: 10px;
  margin-bottom: 10px;
}
.btn-ghost {
  border: 1px solid #fff;
  color: #fff;
}
.btn-ghost:hover {
  border-color: #5ee077;
  background-color: #5ee077;
  color: #fff;
}
.btn-full:hover {
  background-color: #5ee077;
  color: #fff;
}
/* produit */
.produit-img {
  max-width: 100%;
  height: auto;
}
.produits-icon {
  font-size: 34px;
  color: #0c959c;
  transition: all 1s;
}
.produits-icon:hover {
  transform: translatex(20px);
  color: #575757;
}
.produit-plus {
  margin: 20px 0;
}

/* ============famille des the ================= */
.famille-the {
  background-color: #cdf6e1;
}

.famille-details {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.famille-details img {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.famille-details h4 {
  text-align: center;
}

/* galerie */

.galerie-img {
  height: 300px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.bg-the-1 {
  background-image: url(../images/galerie/the1.jpg);
}
.bg-the-2 {
  background-image: url(../images/galerie/the2.jpg);
}
.bg-the-3 {
  background-image: url(../images/galerie/the3.jpg);
}
.bg-the-4 {
  background-image: url(../images/galerie/the4.jpg);
}
.bg-the-5 {
  background-image: url(../images/galerie/the5.jpg);
}
.galerie-title {
  position: relative;
  bottom: -90%;
  left: 30px;
}
.galerie-title h4 {
  color: #fff;
}

/* client */

.client {
  background-image: linear-gradient(
      rgba(0, 245, 96, 0.4),
      rgba(7, 117, 230, 0.6)
    ),
    url(../images/the-paysage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.client h2 {
  color: #fff;
}
.client h2::after {
  background-color: #fff;
}
blockquote {
    padding: 5px;
    font-style: italic;
    line-height: 130%;
    color: #fff;
  }

  blockquote  i{
   font-size: 250%;
   color: rgba(255, 255, 255, 0.5);
   margin-right: 10px;
   margin-bottom:10px ;
  }

cite {
  font-size: 90%;
  display: block;
  margin-top: 20px;
}
cite img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

/* ======Pack======= */

.pack {
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.pack h3{
    color: green;
    font-weight: 400;
}
.pack h4 {
    font-size: 200%;
    font-weight: 100;
    font-family: 'sanchez';
}
.pack span{
    font-size: 40%;
    font-weight: 100;
    position: relative;
    top:-15px; 
    right: -10px;
}
.pack-title{
    padding: 10px 10px 0 10px; 
    border-bottom: 1px solid #e3e0e0;
}
.pack-content ul{
list-style: none;
font-weight: 300;
line-height: 35px;
}
.pack-content ul li i{
 margin-right: 10px; 
 font-size: 90%;
    }
.pack-signup{
    text-align: center;
}
.btn-pack{
    color: #fff;
    margin-bottom: 20px;
    background-color: green;
}
.pack-premium{
    background-color:#23e423;
    color: #fff;
}
.pack-signup:hover .btn-pack{
    background-color: rgb(4, 168, 4);
    color: #fff;
}

/* contact  */
.contact-messages{
    width: 100%; 
}
.btn-contact{
    background-color: green;
    color: #fff;
    margin-right: 15px; 
}
/* footer */

footer{
  background: rgb(39, 39, 39);
  height: 60px;
  color:#fff; 
  text-align: center;
  padding: 20px;
}
.copyright a {
  color: #fff;
  text-decoration: none;
}